<!-- MyModal.razor -->
<button class="btn btn-primary" @onclick="ShowModal">@ButtonName</button>

<div class="modal" style="display: @(showModal ? "block" : "none")">
    <div class="container modal-content">
        @*Coles Button*@
        <div class="container d-flex align-items-end justify-content-end">
            <button type="button" class="btn-close mb-2" @onclick=@HideModal></button>
        </div>

        @*render the elements*@
        @ContextElements

        @*Button to handle Data*@
        <div class="container d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-primary w-50" @onclick=@Clicked> Done </button>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string ButtonName { get; set; } = "Add";

    private bool showModal = false;


    /// <summary>
    /// Render the elements inside the modal
    /// </summary>
    [Parameter]
    public RenderFragment ContextElements { get; set; }

    [Parameter]
    public EventCallback Clicked{ get; set; }

    private void ShowModal()
    {
        showModal = true;
    }

    private void HideModal()
    {
        showModal = false;
    }
}

