@page "/AddBands"

@inject IDataBase<BandsModel> _bandData
@inject IDataBase<SingleWagenModel> _singleWagen


<h3>New Band</h3>
<ToastInformation @ref=TostInfo Message=@Toast.ToastMessage Delay=@Toast.Delay Header=@Toast.ToastHeader ToastBg=@Toast.ToastBG />
<EditForm Model="@newBand" OnValidSubmit="@AddNewBand">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div>

            <div class="mb-3">
                <label for="bandNumber">Band Number</label>
                <InputNumber class="form-control" id="bandNumber" @bind-Value="newBand.Number"></InputNumber>
            </div>
            <AddWagenComponent wagensToAdd="@wagensToAdd"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Add Band</button>
</EditForm>

@code {

    private ToastInformation TostInfo { get; set; }
    private ToastModel Toast = new();


    /// <summary>
    /// list we have from DB
    /// </summary>
    private List<SingleWagenModel> wagens;

    /// <summary>
    /// list of the wagens we added to band
    /// </summary>
    private List<SingleWagenModel> wagensToAdd = new();


    private BandUiModel newBand = new();


    private async Task AddNewBand(EditContext context)
    {
        var newBandAdded = (BandUiModel)context.Model;
        List<BasicWagenModel> basicWagens = new();

        BandsModel band = new();
        band.Number = newBand.Number;
        foreach (var item in wagensToAdd)
        {
            basicWagens.Add(new BasicWagenModel(item));
        }
        band.Wagens = basicWagens;
        if (band.Wagens.Count > 0)
        {
            await _bandData.AddNew(band);
            await ShowToastDialog("New Band", $"Band {band.Number} has been added", "success");
        }else
        {
            await ShowToastDialog("Warrning", $"Band {band.Number} has been not added", "danger");
        }

        // after we add the new band we clear the model and list to refresh the items
        newBand = new();
        wagensToAdd.Clear();
        
        wagens = await _singleWagen.GetAllAsync();

    }

    private async Task ShowToastDialog(string header, string message, string toastBG)
    {
        Toast.ToastHeader = header;
        Toast.ToastMessage = message;
        Toast.ToastBG = toastBG;
        Toast.Delay = 3000;

        await TostInfo.ShowToast();
    }
}
